@charset "utf-8";
.back{
	position: absolute;
	left: 0rpx;
	top: 0rpx;
	width:750rpx;
	height:468rpx;
	background:#1485EE;
}
.announcementco1{
	position: absolute;
	background : #777777;
	background : rgba(119, 119, 119, 1);
	left:54rpx;
	top:5rpx;
	width : 24rpx;
	height : 54rpx;
}
.announcementedge{
	position: absolute;
	left:40rpx;
	top:0rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 670rpx;
	height : 510rpx;
	border-radius : 20rpx 20rpx 0rpx 0rpx;
	-moz-border-radius : 20rpx 20rpx 0rpx 0rpx;
	-webkit-border-radius : 20rpx 20rpx 0rpx 0rpx;
	box-shadow : 0rpx 6rpx 10rpx rgba(0, 0, 0, 0.14);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#000000') ;
}
.announcementco2{
	position: absolute;
	left:90rpx;
	top:5rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 270rpx;
	height : 54rpx;
}
.announcementcotext{
	position: absolute;
	left:95rpx;
	top:8rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 30rpx;
	letter-spacing : 1.2rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}

.clockbutton{
	position: absolute;
	left:24rpx;
	top:536rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 338rpx;
	height : 180rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	box-shadow : 0px 0px 12rpx rgba(0, 0, 0, 0.15);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ;
}
.calendarbutton{
	position: absolute;
	left:388rpx;
	top:536rpx;
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 338rpx;
	height : 180rpx;
	border-radius : 10rpx;
	-moz-border-radius : 10rpx;
	-webkit-border-radius : 10rpx;
	box-shadow : 0px 0px 12rpx rgba(0, 0, 0, 0.15);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') ;
	
}

.today{
	position: absolute;
	left:17rpx;
	top:746rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	z-index: 999;
}
.tomorrow{
	position: absolute;
	left:13rpx;
	top:1012rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 26rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	z-index: 999;
}
.future{
	position: absolute;
	left:17rpx;
	top:1240rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	z-index: 999;
}
.todaylogo{
	position: absolute;
	left:12rpx;
	top:742rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 108rpx;
	height : 56rpx;
	border-radius : 6rpx 4rpx 6rpx 6rpx;
	-moz-border-radius : 6rpx 4rpx 6rpx 6rpx;
	-webkit-border-radius : 6rpx 4rpx 6rpx 6rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.tomorrowlogo{
	position: absolute;
	left:12rpx;
	top:1008rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 150rpx;
	height : 56rpx;
	border-radius : 6rpx 4rpx 6rpx 6rpx;
	-moz-border-radius : 6rpx 4rpx 6rpx 6rpx;
	-webkit-border-radius : 6rpx 4rpx 6rpx 6rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.futurelogo{
	position: absolute;
	left:12rpx;
	top:1234rpx;
	background : #1485EE;
	background : rgba(20, 133, 238, 1);
	width : 114rpx;
	height : 56rpx;
	border-radius : 6rpx 4rpx;
	-moz-border-radius : 6rpx 4rpx;
	-webkit-border-radius : 6rpx 4rpx;
	font-family : Berlin Sans FB Demi;
	font-weight : bold;
	font-size : 28rpx;
	letter-spacing : 1.12rpx;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}